header {
    background-color: white;
    height: 70px;
    /* width: 100%; */
    border-bottom: solid 1px #CCCCCC;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 10;
}

header .logo {
    height: inherit;
    width: inherit;
    background: url("https://s3.amazonaws.com/intranet-projects-files/holbertonschool-higher-level_programming+/268/logo.png");
    background-repeat: no-repeat;
    margin-left: 20px;
}

/* Media query for small screens*/
@media (max-width: 768px) {
    header .logo {
        width: 50%;
        margin-left: 5px;
    }
}
